{% extends 'course/base.html' %}
{% load static %}

{% block content %}
<div class="col-md-offset-3 col-md-6">
<div class="row">
    <div class="col"></div>
    <div class="col-10"><h2>Учебная программа курса</h2></div>
    <div class="col"></div>
</div>
<div>
    {% for lecture in lectures %}
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col-10"><h2> Занятие {{lecture.sequence_number}} </h2>

            {% if user.is_staff %}
            {% endif %}
            <h6>{{ lecture.title }}</h6>
            <a href="{% url 'course:lectures_detail' pk=lecture.pk  %}"> Подробнее </a> </p>

        </div>
        <div class="col"></div>
    </div>
    {% endfor %}
</div>

{% if is_paginated %}
    <div class="article-paginator">
        <span class="page-links">
            <a href="{% url 'course:index' %}?page=1"> << </a>
        {% if page_obj.has_previous %}
            <a href="{% url 'course:index' %}?={{ page_obj.previous_page_number }}"> < </a>
        {% endif %}
        <span class="current-page">
            страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a href="{% url 'course:index' %}?page={{ page_obj.next_page_number }}"> < </a>
        {% endif %}
            <a href="{% url 'course:index' %}?page={{ page_obj.paginator.num_pages }}"> > </a>
        </span>
    </div>
    {% endif %}
</div>
{% endblock %}